
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                {% dump(app.request.get('_route')) %}
                <a class="nav-link {% if app.request.get('_route') ends with '_restaurant' %}active{% endif %}" aria-current="page" href="{{ path('admin_list_restaurant') }}">
                    <span data-feather="home"></span>
                    Gérer les restaurants !
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if app.request.get('_route') ends with '_cuisine' %}active{% endif %}" href="{{ path('admin_type_cuisine') }}">
                    <span data-feather="file"></span>
                    Gérer les types de cuisine
                </a>
            </li>
        </ul>
    </div>
</nav>