{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block all_application %}
    <div class="container-fluid">
        <div class="row">
    {% block header %}
        {{ include('admin/parts/header.html.twig') }}
    {% endblock header %}
        {% include 'admin/parts/menu.html.twig' %}
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            {% block body %}
            {% endblock %}
        </main>
        </div>
    </div>
{% endblock %}