{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/datatables.min.css') }}"/>
{% endblock %}


{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Gestion des types de cuisine </h1>
    </div>

    <table class="table datatable table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Pays</th>
            <th scope="col">Nom</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('scripts/datatables.min.js') }}"></script>
    <script rel="script" src="{{ asset('scripts/init_dt.js') }}"></script>

{% endblock %}