{% extends 'admin/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/datatables.min.css') }}"/>
{% endblock %}


{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Gestion des restaurants</h1>
    </div>

    <a href="{{ path('admin_add_restaurant') }}" class="mb-5">
        <button class="btn btn-success">Ajouter un restaurant !</button>
    </a>
    <div class="m-5">
        <table class="table datatable table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Macdonald</td>
            <td>Place de jaude</td>
            <td>Supprimer</td>
        </tr>
        </tbody>
    </table>
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript" src="{{ asset('scripts/datatables.min.js') }}"></script>
    <script rel="script" src="{{ asset('scripts/init_dt.js') }}"></script>

{% endblock %}