<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('scripts/jquery.min.js') }}"></script>
            <script src="{{ asset('scripts/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        {% block all_application %}{% endblock %}
    </body>
</html>
